<!DOCTYPE html>
<html>
<head>
	<title>Sharks | <%= @title %></title>
	<link rel="stylesheet" type="text/css" href="<%= url('/css/master.css') %>">
</head>
<body>
	<nav>
		<a href="/sharks">Home</a>
		<a href="/sharks/new">New</a>
	</nav>
	
	<%= yield %>
	
	<script src="<%= url('/js/app.js') %>"></script>
</body>
</html>