* {
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 400;
}

h1 {
	font-weight: bold;
	color: #0B114F;
}

h3 a {
	color: yellow;
}

li {
	color: white;
}

body {
	background: url('../images/background.jpg');
	animation: moveBackground 40s linear infinite;

	background-size: 100%;
	margin: 0px;
	color: 	#1F2FC9;
}

nav {
	background-color: black;
	padding: 10px 20px;
	width: 190px;
	margin: 0 auto;
}

nav a {
	color: white;
	padding:0 20px;
	text-decoration: none;
}

nav a:hover {
	color: yellow;
}

#edit a {
	color: yellow;
}

@keyframes moveBackground {
	from {
		background-position: 0 0;
	} to {
		background-position: -1600px -1200px;
	}
}