<h1>New shark</h1>

<form action="/sharks" method="POST">
	<div>
		<label>Name</label>
		<input type="text" name="name" placeholder="Name">
	</div>

	<div>
		<label>Length</label>
		<input type="text" name="length" placeholder="Length">
	</div>

	<div>
		<label>Habitat</label>
		<input type="text" name="habitat" placeholder="Habitat">
	</div>

	<div>
		<label>Species</label>
		<input type="text" name="species" placeholder="Species">
	</div>

	<div>
		<label>Conservation Status</label>
		<input type="text" name="status" placeholder="Conservation Status">
	</div>

	<div>
    	<input type="submit" value="Add shark">
  	</div>
</form>